{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section class="about-us">
		<div style="margin-top: 5%; display: flex; justify-content: space-between;">
			<div style="flex-basis: 48%; padding: 90px 30px;">
				<h1>Skills exchange are a great way to get jobs done while making friends and saving cash.</h1>
				<p>Joining a skills exchange means you can swap a few hours of your time – doing something you’re good at - for services you would otherwise have to pay hundreds of pounds a year for.</p>
			</div>
			<div style="flex-basis: 48%; padding: 30px 2px;">
				<img src="{% static '/images/exchange-your-skills.jpg' %}">
			</div>
		</div>
		
	</section>
{% endblock content %}