{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.02.min.css">
    <link rel="stylesheet" href="{% static 'styles\loginStyle.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js\script.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    
</head>

<body>
    <header style="width: 100%; position: fixed;z-index: 9999;">
        <div class="header" style="width:'100px';">
            <img src="{% static 'images/Skill_logo.png'%}" alt="logo" />
        </div>

        <div style="float: left">
            <ul class="navbar">
                <li class="navbarItems"><a class="active" href="{% url 'index' %}">Home</a></li>
                <li class="navbarItems"><a href="{% url 'news' %}">News</a></li>
                <li class="navbarItems"><a href="#contact" id="showContact">Contact</a></li>
                <li class="navbarItems"><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>

        <div style="float: right">
            <ul class="navbar">
                {% if user.is_authenticated %}
                    <li class="navbarItems"><a class="active" href="{% url 'userSkillPage' %}">User Skills</a></li>
                    <li class="navbarItems"><a class="active" href="{% url 'profile' %}">Profile</a></li>
                    <li class="navbarItems"><a class="active" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="navbarItems"><a class="active" href="{% url 'index' %}">Login</a></li>
                    <li class="navbarItems"><a href="{% url 'index' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    <div class="col-md-6">
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <p>
        @ 2021 All Rights Reserved
    </p>
</footer>

</html>