{% extends 'base.html' %}
{% block content %}
<div id="hideShow" style="position: relative; left: auto; padding: 3px; margin-top: 100px;">
	<button id="hide" style="position: relative; ">Hide</button>
	<button id="show" style="position: relative; ">Show</button>
</div>
<div class="loginForm" id="loginForm">
	<div class="signIn">
		<form method="POST" action="login">
			{% csrf_token %}
			<h2>Sign In</h2>
			<label for="uname"><b>Username</b></label>
			<input type="email" name="email" placeholder="Email" id="userLoginId" />
			<span class='spanErrorField' id="userLogID" style="color:red;"></span>
			<span></span>
			<label for="psw"><b>Password</b></label>
			<input type="password" name="password" placeholder="Password" id="userLoginPassword" />
			<span class='spanErrorField' id="userLogPass" style="color:red;"></span>
			<a href="#">Forgot your password?</a>
			<button onClick="logInValidation()" type="submit">Sign In</button>
		</form>
	</div>
	<div class="right-side">
		<div class="right">
			<div class="right-side-block">
				<h1> New User</h1>
				<p>Join us and start journey to achieve your goals.</p>

				<button class="signUp" id="signUp" onClick="showDiv()">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>

		<div class="container">
			<form id="contact" action="" method="post">
				{% csrf_token %}
				<h3>XChange Skills Contact Form</h3>
				<div class="input-box">
					<input placeholder="Your name" type="text" tabindex="1" required autofocus>
				</div>
				<div class="input-box">
					<input placeholder="Your Email Address" type="email" tabindex="2" required>
				</div>
				<div class="input-box">
					<input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
				</div>
				<div class="input-box">
					<input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
				</div>
				<div class="input-box">
					<textarea placeholder="Type your message here...." tabindex="10" rows="4" cols="27"
						required></textarea>
				</div>
				<br>
				<div class="input-box">
					<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
				</div>
				<br>
				<div>
					<h4>You can reach us at:</h4> <br>
					Middleware Programming & Database Security, <br>
					Arizona State University Poly Campus, <br>
					Tempe, Arizona - 82851. <br>
					mail: middlewareasupoly@asu <br>
				</div>
				<p class="copyright">Designed for IFT 598</p>
			</form>
		</div>
	</div>

</div>
<div class="register-popup" id="register" style="margin-top: 90px;">
	<div class="joinus-popup-content">
		<div class="join-us-container">
			<div class="join-us-content">
				<form id="regForm" method="POST" action="register" onsubmit="regValidation()">
					{% csrf_token %}
					<div class="reg-user-details">
						<div class="input-box">
							<span class="details">First Name</span>
							<input type="text" placeholder="Enter first name" id="fName" name="fName">
							<span class='spanErrorField' id="firstName" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Middle Name</span>
							<span class='spanErrorField' id="middleName" style="color:red;"></span>
							<input type="text" placeholder="Enter middle name" id="mName" name="mName">
						</div>

						<div class="input-box">
							<span class="details">Last Name</span>
							<input type="text" placeholder="Enter last name" id="lName" name="lName">
							<span class='spanErrorField' id="lastName" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Street Address</span>
							<input type="text" placeholder="Enter street" id="streetAddress" name="streetAddress">
							<span class='spanErrorField' id="streetAdd" style="color:red;"></span>
						</div>
						<div class="input-box">
							<span class="details">Country</span>
							<select name="country" id="countySel">
								<option value="" selected="selected">Select Country</option>
								<option value="United States" selected="selected">United States</option>
							</select>
							<span class='spanErrorField' id="co" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">State</span>
							<select name="state" id="stateSel" size="1">
								<option value="" selected="selected">Please select Country first</option>
								<option value="Arizona" selected="selected">Arizona</option>
							</select>
							<span class='spanErrorField' id="stateName" style="color:red;"></span>

						</div>
						<div class="input-box">
							<span class="details">City</span>
							<select name="city" id="districtSel" size="1">
								<option value="" selected="selected">Please select State first</option>
								<option value="Tempe" selected="selected">Tempe</option>
								<option value="Phoenix" selected="selected">Phoenix</option>
							</select>
							<span class='spanErrorField' id="city" style="color:red;"></span>

						</div>
						<div class="input-box">
							<span class="details">Zip Code</span>
							<input type="text" placeholder="Enter zip code" id="zipCode" name="zipCode">
							<span class='spanErrorField' id="zip" style="color:red;"></span>

						</div>

						<div class="input-box">
							<span class="details">Date Of Birth</span>
							<input type="date" placeholder="Enter DOB" id="dateOfBirth" name="dateOfBirth">
							<span class='spanErrorField' id="dob" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Username</span>
							<input type="text" placeholder="Enter username" id="userName" name="userName">
							<span class='spanErrorField' id="username" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Email</span>
							<input type="email" placeholder="Enter email" id="emailAddress" name="emailAddress">
							<span class='spanErrorField' id="emailId" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Phone Number</span>
							<input type="text" placeholder="Enter number" id="phoneNumber" name="phoneNumber">
							<span class='spanErrorField' id="phone" style="color:red;"></span>
						</div>

						<div class="input-box">
							<span class="details">Password</span>
							<input type="password" placeholder="Enter password" id="password" name="password1">
							<span class='spanErrorField' id="pass1" style="color:red;"></span>
						</div>
						<div class="input-box">
							<span class="details">Confirm Password</span>
							<input type="password" placeholder="Confirm password" id="password2" name="password2">
							<span class='spanErrorField' id="pass2" style="color:red;"></span>
						</div>

						<div class="input-box">
							<input type="radio" name="gender" id="dot-1" value="M">
							<input type="radio" name="gender" id="dot-2" value="F">
							<span class="gender-title">Gender</span>
							<div class="category">
								<label for="dot-1">
									<span class="dot one"></span>
									<span class="gender">Male</span>
								</label>
								<label for="dot-2">
									<span class="dot two"></span>
									<span class="gender">Female</span>
								</label>
							</div>
							<span class='spanErrorField' id="genderSpan" style="color:red;"></span>
						</div>
					</div>
					<br>
					<table>
						<tr>
							<th>Skills:</th>
							<th>Skills Wish To Learn:</th>
						</tr>
						<tr>
							<td><button class="Add" id="Add1" onClick="addNewSkill()">Add</button>&nbsp;&nbsp;
								<button class="Add" id="Remove1">Remove</button>
							</td>
							<td><button class="Add" id="Add2" onClick="addNewWishSkill()">Add</button>
								<button class="Add" id="Remove2">Remove </button>
							</td>
						</tr>
						<tr>
							<td>
								<div class="element" id="newElementId"></div>
							</td>
							<td>
								<div class="element" id="newWishElementId"></div>
							</td>

						</tr>
					</table>


					<div class="button">
						<input type="submit" class="joinus-btn" value="Register">
						<input id="cancelRegister" onClick="closeDiv()" type="button" value="Cancel">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
{% endblock content %}