
{% extends 'base.html' %}
{% load static %}
{% block content %}
	<section class="news">
		<div style="margin-top: 5%; display: flex; justify-content: space-between;">
			<div style="flex-basis: 48%; padding: 90px 30px;">
				<h1>XchangeSkill</h1>
				<p>Bring people together into a group. Each member of the group has certain skills and services they can offer, and each one has needs they hope can be met by other members.</p>
				<p>The modern version usually works on a time basis, so that one hour of everyone’s time is worth exactly the same amount.</p>
			</div>
			<div style="flex-basis: 48%; padding: 30px 2px;">
				<img src="{% static '/images/xchange-news.png' %}">
			</div>
		</div>
	</section>
{% endblock content %}