{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section" style=" margin-top:150px;margin-bottom:50px;overflow: scroll; ">
    <h1>Skill List Page</h1>
    <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off">

    <br><br>

    {% for skill in allSkills %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ skill.user.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ skill.user.first_name}} {{ skill.user.last_name  }}</a>
            </div>
            <h2><a class="article-title" >{{ skill.skill }}</a></h2>
            <p class="article-content">{{ skill.skill }}</p>
          </div>
        </article>
    {% endfor %}
</div> 
    <script>
        const autoCompleteJS = new autoComplete({
            selector: "#autoComplete",
            placeHolder: "Search for Skill...",
            data: {
                src: async () => {
                        try {
                            // Loading placeholder text
                            document
                            .getElementById("autoComplete")
                            .setAttribute("placeholder", "Loading...");
                            // Fetch External Data Source
                            const source = await fetch(
                                "{% url 'search-skill' %}"
                            );
                            const data = await source.json();
                            console.log(data);
                            // Post Loading placeholder text
                            document
                            .getElementById("autoComplete")
                            .setAttribute("placeholder", autoCompleteJS.placeHolder);
                            // Returns Fetched data
                            return data;
                        } catch (error) {
                            return error;
                        }
                    },
                keys: ["skill"],
                cache: true,
            },
            resultsList: {
                element: (list, data) => {
                    if (!data.results.length) {
                        // Create "No Results" message element
                        const message = document.createElement("div");
                        // Add class to the created element
                        message.setAttribute("class", "no_result");
                        // Add message text content
                        message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
                        // Append message element to the results list
                        list.prepend(message);
                    }
                },
                noResults: true,
                maxResults: 10,
            },
            resultItem: {
                highlight: true
            },
            events: {
                input: {
                    selection: (event) => {
                        const selection = event.detail.selection.value;
                        autoCompleteJS.input.value = selection;
                    }
                }
            }
        });

        autoCompleteJS.input.addEventListener("selection", function (event) {
            const feedback = event.detail;
            autoCompleteJS.input.blur();
            // Prepare User's Selected Value
            const selection = feedback.selection.value[feedback.selection.key];

            console.log("{% url 'skillList' %}?filterSkill="+selection);
            location.href = "{% url 'skillList' %}?filterSkill="+selection;
            // // Render selected choice to selection div
            // document.querySelector(".selection").innerHTML = selection;
            // // Replace Input value with the selected value
            // autoCompleteJS.input.value = selection;
            // // Console log autoComplete data feedback
            // console.log(feedback);
        });

        // Toggle Search Engine Type/Mode
        document.querySelector(".toggler").addEventListener("click", () => {
            // Holds the toggle button selection/alignment
            const toggle = document.querySelector(".toggle").style.justifyContent;

            if (toggle === "flex-start" || toggle === "") {
                // Set Search Engine mode to Loose
                document.querySelector(".toggle").style.justifyContent = "flex-end";
                document.querySelector(".toggler").innerHTML = "Loose";
                autoCompleteJS.searchEngine = "loose";
            } else {
                // Set Search Engine mode to Strict
                document.querySelector(".toggle").style.justifyContent = "flex-start";
                document.querySelector(".toggler").innerHTML = "Strict";
                autoCompleteJS.searchEngine = "strict";
            }
        });

        // Blur/unBlur page elements
        const action = (action) => {
            const title = document.querySelector("h1");
            const mode = document.querySelector(".mode");
            const selection = document.querySelector(".selection");
            const footer = document.querySelector(".footer");

            if (action === "dim") {
                title.style.opacity = 1;
                mode.style.opacity = 1;
                selection.style.opacity = 1;
            } else {
                title.style.opacity = 0.3;
                mode.style.opacity = 0.2;
                selection.style.opacity = 0.1;
            }
        };

        // Blur/unBlur page elements on input focus
        ["focus", "blur"].forEach((eventType) => {
            autoCompleteJS.input.addEventListener(eventType, () => {
                // Blur page elements
                if (eventType === "blur") {
                action("dim");
                } else if (eventType === "focus") {
                // unBlur page elements
                action("light");
                }
            });
        });


    </script>
{% endblock %}