{% extends 'base.html' %}
{% block content %}

    <h1>Skill List Page</h1>

    {% for skill in allSkills %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ skill.user.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ skill.user.first_name}} {{ skill.user.last_name  }}</a>
            </div>
            <h2><a class="article-title" >{{ skill.skill }}</a></h2>
            <p class="article-content">{{ skill.skill }}</p>
          </div>
        </article>
    {% endfor %}
    
{% endblock %}